<p id="notice"><%= notice %></p>

<div class="confirm_form">

  <%= text_area "","readonly", class: "confirm_form_child" ,
  value: @line.content ,readonly: true %>

  <div class="form_content form_content_hide"><%= @line.content %></div>

  <div class="confirm_form_time">
    <!--新規時は、時間情報を表示させない-->
    <% if not(action_name == 'new' || action_name == 'confirm') %>
      <a class="form_time">
        <strong>登録時rr間:</strong>
        <%= @line.created_at.strftime("%Y年 %m月 %d日 %H時%M分") %>
        <strong>更新時間:</strong>
        <%= @line.updated_at.strftime("%Y年 %m月 %d日 %H時%M分") %>
      </a>
    <% end %>

  </div>
</div>
