<head>
  <%= form_with(model: line, local: true) do |form| %>
    <% if line.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(line.errors.count, "error") %> prohibited this line from being saved:</h2>

        <ul>
        <% line.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
</head>

<%= form_with(model: line, local: true, url: choose_new_or_edit ,
class: "input_form", method: choose_new_or_edit_Method ) do |form| %>

    <%= form.text_area :content, id: :line_content ,class: :form_content %>

  <a class="actions place_btn">
    <%= form.submit value=choose_new_or_edit_BtnName, class: "btn btn-default " %>
  </a>

<% end %>

<div>
  <%= link_to '戻る', lines_path , class: "btn btn-default btn_return" %>
</div>
