<header>
  <h1 class = "head_title">↓こうつぶやきますか？↓</h1>
</header>


<%= render 'display' %>

<footer>
  <%= form_with(model: @line,local: true, url: lines_path,
    method: 'POST') do |form| %>
    <%= form.hidden_field :content %>
    <%= form.submit  "登録する" , class: "btn btn-default " %>

  <% end %>

  <%= form_with(model: @line,local: true,  url: new_line_path,
   method: 'GET') do |form| %>
    <%= form.hidden_field :content %>
    <%= form.submit  "もどる", name: 'back' ,class: "label  label-info btn_return"%>

  <% end %>

</footer>
