<header>

  <h1>一覧</h1>

  <p id="notice"><%= notice %></p>

  <%= link_to '【新しくつぶやく】', new_line_path %>

</header>

<table>
  <thead>
    <tr>
      <th >↓過去につぶやいた内容です↓</th>
      <th >投稿日時</th>
      <th >更新日時</th>
    </tr>
  </thead>

  <tbody>
    <% @lines.each do |line| %>
      <tr>
        <td rowspan="2"><%= link_to "● " + line.content.to_s , line , class: 'btn btn-default'%></td>
        <td><%= line.created_at.strftime("%Y年 %m月 %d日")  %></td>
        <td><%= line.updated_at.strftime("%Y年 %m月 %d日")  %></td>
      </tr>

      <tr>

        <td><button type="button" name="button">
          <%= link_to 'ツイートを編集する', edit_line_path(line), class: 'btn btn-default'  %>
        </button></td>

        <td><button type="button" name="button">
          <%= link_to 'ツイートを削除する', line, method: :delete, data: { confirm: '本当に削除してよろしいですか?' } %>
        </button></td>

      </tr>
    <% end %>
  </tbody>
</table>

<footer>

</footer>

<br>
