<!DOCTYPE html>
<html>
  <head>
    <title>TwClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container" id="MainContainer">

      <header>
        <h1 class = "head_title">
          <%= get_title_name %>
        </h1>

        <% if @view_name == "lines_index" %>
          <%= link_to '新しくつぶやく', new_line_path ,
                      class: "label  label-info head_btn" %>
        <% end %>

      </header>
      
      <%= yield %>

      <footer>
        <%= link_to 'アプリ選択画面へ戻る', root_path , class: "btn btn-default btn_foot" %>
      </footer>

    </div>

  </body>
</html>
